main
{
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


#messagearea
{
    display:flex;
    flex-direction:column-reverse;
    font-size:120%;
    background-color: #D0D0D0; 
    border-style:solid;
    border-width:1px;
    word-break:break-all;
    overflow-y:scroll;
    max-height:600px;
}